.auth-btn {
    box-sizing: border-box;
    font: "Montserrat", sans-serif;
    width: 80px;
    height: 31px;
    background: transparent;
    color: white;
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    border-radius: .1em;
    letter-spacing: .5px;
}

.auth-btn:hover {
    cursor: pointer;
    background: black;
    border: 2px solid black;
    color: white;
    transition: all .2s ease-in-out;
}