

.db-card-wrapper {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
}

.db-name {
    width: 40%;
    height: 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.db-info {
    width: 25%;
    height: 5em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.card-line {
    border-bottom: 1px solid black;
    width: 60%;
    margin: 0 auto;
}

#sold:hover {
    cursor: pointer;
}