.container {
  // width: 100%;
  // list-style: none;
  
}

.contacts {
  margin-left: -.9em;
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.contact {
  list-style: none;
  // display: flex;
  // align-items: center;
  // justify-content: space-around;
}
.contact-card {
    box-shadow: 0 0 4px rgba(0, 0, 0, 1);
    // padding: 16px;
    height: 18em;
    width: 18em;
    margin-bottom: 1em;
    margin-right: 1em
  }

  .contact-card div {
      margin-bottom: 8px;
  }

  