$font-var: "Montserrat", sans-serif;

  .btn-discover {
        visibility: hidden;
      }

.image-carousel {
    height: 80vh;
    width: 100vw;
    box-sizing: border-box;

        .img-frame {
           box-sizing: border-box;
           object-fit: cover;
        }

        .txt-carousel {
            box-sizing: border-box;
            font: 100% $font-var;
            font-weight: 400;
            position: absolute;
            top: 33vh;
            left: 50%;
            width: 90vw;
            transform: translate(-50%, -50%);
            font-size: 2em;
            color: rgb(255, 255, 255);
            text-align: center;
            text-shadow: 0px 0.5px 0.5px rgba(194, 167, 190, 0.3);
            text-rendering: optimizeLegibility;
        }

        .btn-discover {
            visibility: visible;
            box-sizing: border-box;
            font: 100% $font-var;
            width: 141px;
            height: 41px;
            background: black;
            color: white;
            display: flex;
            border: 2px solid black;
            justify-content: space-around;
            align-items: center;
            font-size: 13px;
            letter-spacing: 2px;
            border-radius: .1em;
            position: absolute;
            top: 44vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            z-index: 2;
        }

        .btn-discover:hover {
            cursor: pointer;
            background: rgba(0, 0, 0, .1);
            border: 2px solid white;
            transition: all .4s ease-in-out;
        }

        #animate-me {
        object-fit: cover;
        animation-name: opacitor;
        animation-duration: 26.8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;

    }

#animate-me:nth-of-type(1) {
    animation-delay: 20.1s;
}

#animate-me:nth-of-type(2) {
    animation-delay: 13.4s;
     
}
#animate-me:nth-of-type(3) {
    animation-delay: 6.7s;
     
}
#animate-me:nth-of-type(4) {
    animation-delay: 0;
}

} 

.image-slide {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.img-frame {
    height: 83vh;
    width: 100vw;
}

.carousel-bottom {
    box-sizing: border-box;
    width: 100vw;
    height: 17vh;
    background: white;
    position: absolute;
    top: 83vh;
}


@media only screen 
and (max-width: 568px) {
  
 .carousel-bottom {
        display: none;
    }

  .image-carousel {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;

     .btn-discover {
      position: absolute;
      top: 56vh;
      left: 50vw;
  }

   .txt-carousel {
        top: 44vh;
        left: 50%;
        width: 90vw;
        font-size: 1.7em;
        text-rendering: optimizeLegibility;
        transition: .2s ease-in;        
    }
  }

  .img-frame {
      height: 100vh;
  }

  .image-slide {
    box-sizing: border-box;
    position: relative;
    object-fit: cover;
  }

  #animate-me {
      position: absolute;
  }

 

  
}

@media only screen
and (max-width: 768px)
and (min-width: 568px) {
    
.image-carousel {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;

     .btn-discover {
      position: absolute;
      top: 53vh;
      left: 50vw;
  }

   .txt-carousel {
        top: 42vh;
        left: 50%;
        width: 90vw;
        font-size: 1.9em;
        text-rendering: optimizeLegibility;
    }
  }

    .carousel-bottom {
        display: none;
    }

    .img-frame {
        height: 100vh;
    }
}

@media only screen
and (min-width: 1025px) {

}

@keyframes opacitor {
  0% {
    opacity: 1;
  }
  22.3% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  97.8% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

