$font-var: "Montserrat", sans-serif;

.cart-parent {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #efefef;
    position: relative;
}

.cart-banner {
    font-size: 15px;
    line-height: 2em;
    letter-spacing: 2px;
    font-weight: 700;
    margin-top: 8em;
    margin-left: 46%;
}

.cart-wrapper {
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
    width: 72%;
    background: white;
    margin-top: 2%;
    margin-left: 14%;
    position: relative;
    margin-bottom: 18%;
}

.items {
    width: 95%;
    margin: 2px auto;
}

.cart-item-parent {
    margin-top: 2px;
}

.cart-grid-header {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-rows: 2em;

    span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    }

}

.cart-grid {
    display: grid;
    grid-template-columns: 40% 20% 20% 20%;
    grid-template-rows: 75px;
}


.delete-button {
    margin-left: 10px;
}

.delete-button:hover {
    cursor: pointer;
}

.delete-container {
    border: 1px solid black;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    img {
        height: 13px;
        width: 13px;
    }
}

.cart-item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 90%;
}

.cart-img  {
    height: 50px;
    width: 65px;
    background: #fefefe;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
    margin-left: 20px;
}

.item-name {
    position: absolute;
    left: 17%;
    width: 40%;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
}

.item-number {
    position: absolute;
    left: 50%;
    
}


.quantity-tag {
    position: absolute;
    right: 30.4%;
}

.price-tag {
    position: absolute;
    right: 8.5%;
}

.cart-subtotal {
    margin-top: 5px;    
    position: absolute;
    right: 7.5%;
}

.sub-label {
    margin-top: 5px;
    position: absolute;
    left: 5%;
    font-weight: 700;
    text-transform: uppercase;    
}

.btn-checkout {
    box-sizing: border-box;
    font: 100% $font-var;
    width: 131px;
    height: 41px;
    background: transparent;
    color: black;
    display: flex;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    border-radius: .1em;
    letter-spacing: 1px;
    margin-top: 8%;
    margin-left: 5%;
}

.btn-checkout:hover {
    cursor: pointer;
    background: black;
    border: 2px solid black;
    color: white;
    transition: all .2s ease-in-out;
}


.input-parent {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;

    div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        span {
            margin-bottom: 8px;
        }
    }

    input {
        width: 70%;
        height: 3.5em;
        background: #efefef;
        border-radius: .2em;
        border-style: none;
        box-sizing: border-box;
        padding-left: 8px;
        font-size: 14px;
        // line-height: 1em;
        padding-top: 0px;
        padding-bottom: 0px
    }

   textarea {
       width: 70%;
       height: 6em;
       border: none;
       overflow: auto;
       background: #efefefef;
       resize: none;
       font-size: 14px;
       box-sizing: border-box;
       padding-left: .5em;
       padding-top: .5em;
   }

}

.billing-line-break {
    width: 97%;
    border-bottom: 2px solid black;
    margin: 20px auto;

}

.product-line-break {
    width: 97%;
    border-bottom: 2px solid black;
    margin: 0 auto;
}

.product-line-break-bottom {
    width: 97%;
    border-top: 2px solid black;
    margin: 0 auto;    
}

.show-me {
    display: flex;
}


@media only screen 
and (max-width: 768px) {
    
    .cart-grid-header {
        display: grid;

  span:nth-child(2) {
        display: none;
    }
 }

 .cart-img {
     margin-left: 5%;
 }

 .item-name {
     width: 30%;
     left: 22%;
 }

 .item-number {
     display: none;
 }

.cart-wrapper {
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 27%;
}

 .input-parent {
    width: 90%;
    display: flex;
    flex-direction: colomn;
    margin-left: 2%;

    div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        height: 3.5em;
        background: #efefef;
        border-radius: .2em;
        border-style: none;
        box-sizing: border-box;
        padding-left: 8px;
    }

   textarea {
       width: 68.5%;
       height: 6em;
       border: none;
       overflow: auto;
       background: #efefefef;
       resize: none;
       box-sizing: border-box;
       padding-top: .4em;
       padding-left: .4em;
   }

}


}

@media only screen 
and ( max-width: 568px ) {
    .btn-checkout {
        width: 85px;
    }

    .item-name {
        width: 20%;
        left: 42%;
    }



     .cart-wrapper {
     margin-top: 2%;
     margin-bottom: 30%;
  }

  .input-parent {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 2%;

    div{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        height: 3.5em;
        background: #efefef;
        border-radius: .2em;
        border-style: none;
        box-sizing: border-box;
        padding-left: 8px;
    }

   textarea {
       width: 68.5%;
       height: 6em;
       border: none;
       overflow: auto;
       background: #efefefef;
       resize: none;
       box-sizing: border-box;
       padding-top: .4em;
       padding-left: .4em;
   }

}

}