.footer-parent {
    background: transparent;
    margin: 0 auto;
}

.footer-container {
    width: 300px;
    margin: 10% auto;
}

.link-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;   
    
     span:hover {
      cursor: pointer;
      text-decoration: underline;
    }
}

#copywrite {
    margin-left: 19%;
}

@media screen
and (max-width: 568px) {
    .footer-parent {
        width: 200px;
        position: absolute;
        bottom: 3%;
        left: 23%;
        font-size: 0.8em;
        transition: .4s ease;
        
    }

    #copywrite {
       margin: 0 auto;
    }
}

@media screen
and (max-width: 768px)
and (min-width: 568px) {
    .footer-parent {
        position: absolute;
        left: 33%;
        transition: .4s ease;
    }
}