ul li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


a {
    style: none;
    color: black;
}

.nav-parent {
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;

.nav-sticky {
    height: 40px;
    width: 100%;
    background: transparent;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    display: flex;
}

.scroll-adjust {
    height: 40px;
    width: 100%;
    background: white !important;
    transition: background-color .1s linear;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    display: flex;
}

.nav-left {
    display: flex;

.store-wrapper {
    display: flex;
    margin-right: 2.5em;

    img {
        height: 1.2em;
        width: 1.5em;
    }
}

.store-wrapper:hover {
    color: red;
}

.info-wrapper {
    display: flex;
    margin-right: 2.5em;

     img {
        height: 1.2em;
        width: 1.5em;
    }
}

.info-wrapper:hover {
    color: red;
 }
}

.nav-menu {
    letter-spacing: 2px;
    box-sizing: border-box;
    display: flex;
    font-size: 13px;
    letter-spacing: 3px;
    width: 250px;
    justify-content: space-between;
    
      .drop-menu-store {
        display: none;
        position: fixed;
        top: 3em;
        left: 0;

        li {
            margin-bottom: 15px;
        }

        li:hover {
        text-decoration: underline;
        transition: .5s ease-in-out;
     }

    }
  
      .drop-menu-info {
        display: none;         
        position: fixed;
        top: 3em;
        left: 8.6em;
        transition: .3s ease-in-out;

        li {
            margin-bottom: 15px;
        }

        li:hover {
          text-decoration: underline;
          transition: .5s ease-in-out;
     }

    }

    

    .reveal {
        display: flex;
        flex-direction: column;
   }
 
  }

   .info-wrapper:hover {
        cursor: pointer;
        color: red;
    .drop-menu-info {
        display: flex;
        flex-direction: column;
        }

        li {
            margin-top: 5px;
            color: black;
        }
    }
}

.right-nav-social {
    display: flex;
    img {
    box-sizing: border-box;
    color: black;
    transform: scale(1);
    margin: 0 3px;
    }

    .social-tag-p {
        position: fixed;
        top: 11px;
        right: 4.1em;
    }

    .social-tag-p:hover {
        cursor: pointer;
    }

    .social-tag-f {
        position: fixed;
        top: 13px;
        right: 2.75em;
    }

    .social-tag-f:hover {
        cursor: pointer;
    }

    .social-tag-i {
        position: fixed;
        top: 11px;
        right: .8em;
    }

    .social-tag-i:hover {
        cursor: pointer;
    }

    .nav-cart {
        position: fixed;
        top: 12px;
        right: 8em;
        font-size: 13px;
        letter-spacing: 3px;
    }

    .nav-cart-tab {
        position: fixed;
        top: 12px;
        right: 4.5em;
        font-size: 13px;
        letter-spacing: 3px;
    }

    .nav-cart-mob {
        position: fixed;
        top: 12px;
        right: 4.5em;
        font-size: 13px;
        letter-spacing: 3px;
    }

 }


// >---------------------------------- Mobile Nav-Styles --------------------------------------<

.nav-mobile {
    height: 30px;
    width: 60px;
    position: absolute;
    left: 1.1em;
    top: 32%;
    text-transform: uppercase;
    letter-spacing: 2px;        
      font: {
        size: 12.5px;
    }
}

.nav-mobile:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: .7s ease-in;
}

.mobile-nav-menu {
    width: 100vw;
    height: 453px;
    background: #FFFFFF;
    position: absolute;
    top: -453px;
    display: flex;
    flex-direction: column;
    transform: translate(0 , -453px);
    transition: transform 0.4s ease-in-out;
    z-index: -2;
}

.mob-reveal {
    position: absolute;
    left: -20px;
    transform: translate(0, 460px);
    transition: transform 0.4s ease-out;
    z-index: -2;
}

// >----------------------------------------- Mobile Transition -------------------------------<

@media only screen
  and (max-width: 1025px) {
      .nav-parent {
     width: 100%;
     height: 40px;
     margin: none;
     position: fixed;
     top: 0;
     background: #FFFFFF;
     z-index: 3;
     display: flex;
    }
  }

  @media only screen
and (max-width: 768px) {

        .social-tag-p {
            display: none;
        }

        .social-tag-i {
            position: fixed;
            top: 11px;
            right: .8em;
        }

}
