$font-var: "Montserrat", sans-serif;

.detail-parent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-container-parent {
    margin-top: 50px;
    background: #efefefef;
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.product-continer-left {
    height: 100vh;
    // width: 60%;
}

    .product-image-wrapper {
      width: 60%;
}

.prod-image {
    position: absolute;
    transform: scale(.5);
    top: -2%;
    left: -13%;
}

.product-container-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 30px;
    // justify-content: space-around;

    .bread-crumb-links {
        margin-top: 5em;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 2.5em;
    }

    .product-name {
       font-size: 22px;
       letter-spacing: 2px;
       font-weight: 300;
       margin-bottom: 2em;
    }

    .product-details {
        height: 9%;
        letter-spacing: 1px;
        line-height: 1.4em;
        word-wrap: break-word;
        overflow: hidden;
        margin-bottom: 5px;
    }

    .product-specs {
        margin-top: 3em;
        display: flex;
        flex-direction: column;
    }

    .specs {
        margin-left: 10%;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .weight {
        margin-left: 17.5%;
    }

    .item {
        margin-left: 15.5%
    }

    .price {
        margin-left: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .question-links {
        margin-top: 2em;

        span:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .btn-cart {
        margin-top: 3em;
        box-sizing: border-box;
        font: 100% $font-var;
        width: 131px;
        height: 41px;
        background: transparent;
        color: black;
        display: flex;
        border: 2px solid black;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        border-radius: .1em;
    }

    .btn-cart:hover {
        cursor: pointer;
        background: black;
        border: 2px solid black;
        color: white;
        transition: all .2s ease-in-out;
    }
}

.euro {
    height: 12px;
    width: 12px;
}

.btn-toBottom {
    font-weight: 700;
}

.btn-toBottom:hover {
    cursor: pointer;
    text-decoration: underline;
}

.top-btn {
    margin-left: 45%;
}

.top-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}
.bottom-section {
    height: 50vh;
    width: 100%;
    background: #efefefef;

}
  .full-description {
       box-sizing: border-box;
       margin: 0 auto;
       width: 60%;
       margin-bottom: 8em;
       word-wrap: break-word;
       margin-top: 5%;
       display: flex;
       letter-spacing: 1.5px;
       
 }
 .prev-nav {
     display: flex;
     transform: rotateZ(-90deg);
     position: fixed;
     z-index: 6;
     left: -15px;
     top: 50%;
 }

 .next-nav {
     display: flex;
     transform: rotateZ(90deg);
     position: fixed;
     z-index: 6;
     right: -15px;
     top: 50%;
 }

 .prev-nav:hover{
     cursor: pointer;
 }

  .next-nav {
      cursor: pointer;
  }

