.product-parent {
    height: 200vh;
    width: 100%;
    background: #efefef;
}

.wrap-products {
    margin: 10px auto;
}

.product-card {
    height: 450px;
    width: 750px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.image-container {
    height: 10vh;
    width: 10vw;
}

