$font-var: "Montserrat", sans-serif;

.detail-parent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-container-parent {
    margin-top: 50px;
    background: #efefefef;
    display: flex;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.product-continer-left {
    height: 100vh;
    // width: 60%;
}

    .product-image-wrapper {
      width: 60%;
}

.prod-image {
    position: absolute;
    transform: scale(.5);
    top: -2%;
    left: -13%;
}

.product-container-right {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 30px;
    // justify-content: space-around;

    .bread-crumb-links {
        margin-top: 5em;
        font-weight: 300;
        letter-spacing: 2px;
        margin-bottom: 2.5em;
    }

    .product-name {
       font-size: 22px;
       letter-spacing: 2px;
       font-weight: 300;
       margin-bottom: 2em;
    }

    .product-details {
        letter-spacing: 1px;
        margin-bottom: 3em;
        line-height: 1.4em;
    }

    .product-specs {
        display: flex;
        flex-direction: column;
    }

    .specs {
        margin-left: 10%;
        font-weight: 300;
        letter-spacing: 2px;
    }

    .btn-cart {
        box-sizing: border-box;
        font: 100% $font-var;
        width: 131px;
        height: 41px;
        background: transparent;
        color: black;
        display: flex;
        border: 2px solid black;
        justify-content: space-around;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        border-radius: .1em;
    }

    .btn-cart:hover {
        cursor: pointer;
        background: black;
        border: 2px solid black;
        color: white;
        transition: all .2s ease-in-out;
    }
}

.euro {
    height: 12px;
    width: 12px;
}

.detail-photo-list {

}

.bottom-section {
    height: 400px;
    width: 100%;
    background: #efefefef;
    // position: fixed;
    // bottom: 0;
}

